<form action="/userPosts" method="GET">
    <div class="container">
        <h1>Public Posts</h1>
        {{#each Posts}}
        <div class="media jumbotron">
            <div class="media-body">
                <h3 class="mt-0">{{dataValues.post_name}} </h3>
                <p>{{dataValues.post_content}}</p>
                <h5>{{dataValues.post_tags}} </h5>

                <small>{{dataValues.createdAt}}</small>
               <a href="/profile"><button class="btn btn-primary">Profile</button></a>
            </div>
        </div>
        <hr>
        {{else}}
        <p>User does not have any posts ...</p>
        {{/each}}
    </div>
</form>